<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.0.0.min.js"></script>
    <style>
        .details-tb {
            list-style-type: none;
            margin: auto
        }
        
        .details-div {
            margin: 0 auto;
            /* width: 500px; */
        }
        
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="details-div">
        <% if (data.content.length) { %>
            <table class="details-tb">

                <% data.content.forEach(function(item){ %>
                    <tr>

                        <% for(i in item) { %>
                            <td>
                                <%= item[i] %>
                            </td>

                            <% } %>

                    </tr>
                    <% }) %>
            </table>
            <% } %>
    </div>

    <script>
    </script>
</body>

</html>